/* FONTS */
@font-face {
    font-family: RobotoBold;
    src: url('../assets/fonts/Roboto-Bold.ttf');
  }

/* LOGIN STYLES */

.abs-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.abs-center label{
    font-size: smaller;
    font-family: RobotoBold;
}


.btn-login{
    
    background-color: rgba(162, 0, 255, 1.0);
    border: none;
    border-radius: 3.5px;
    font-size: x-large;
    font-family: RobotoBold;
    color: white;

}

.btn-login:hover{color: black; transition: all 0.45s; background-color: rgba(162, 0, 255, 0.75);}